@import "tailwindcss";

@theme {
  --color-primary-main: #ff5252;
  --color-dark: #000000;
  --color-dark-100: #4b465c;
  --color-dark-200: #f8f7fa;
  --color-dark-200: #dbdade;
  --color-dark-400: #909090;
  --font-size-10: 10px;
}

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: #f5f0f0;
    /* color: rgba(0, 0, 0, 0.9); */
    color: #3e3e3e;
    overflow-x: hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5.h6 {
    font-weight: 600;
  }

  p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-main);
  }
  ::-webkit-scrollbar-track {
    background-color: #fff;
  }

  /* ẩn mũi tên lên xuống của ipnut number */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .custom-container {
    width: 95%;
    margin: auto;
  }

  /* header .top-strip {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  } */

  .link:hover {
    color: var(--color-primary-main);
  }

  .btn-org {
    background: var(--color-primary-main) !important;
    color: white !important;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 20px;
  }

  .btn-org:hover {
    background: #171717 !important;
  }

  .MuiBadge-badge {
    background-color: var(--color-primary-main) !important;
  }

  nav ul button {
    text-transform: capitalize !important;
  }

  nav ul button:hover {
    background: none !important;
  }

  .MuiTabs-indicator {
    background-color: var(--color-primary-main) !important;
  }

  .MuiTab-textColorPrimary.Mui-selected {
    color: var(--color-primary-main) !important;
  }

  .css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: var(--color-primary-main) !important;
  }

  .MuiFormControlLabel-label {
    font-size: 13px !important;
    color: rgba(0, 0, 0, 0.8);
  }

  .MuiCheckbox-root {
    padding: 6px !important;
  }

  .ReactCollapse--collapse {
    transition: height 400ms;
  }

  .itemViewActions button.active svg {
    color: #ff5252 !important;
  }

  .Mui-selected.MuiPaginationItem-page {
    background: #ff5252 !important;
    color: #fff !important;
  }

  /* ProductZoom */
  .zoomProductSliderThumbs .swiper-button-prev:hover,
  .zoomProductSliderThumbs .swiper-button-next:hover {
    background: #ff5252 !important;
  }
  .zoomProductSliderThumbs .swiper-button-prev:hover::after,
  .zoomProductSliderThumbs .swiper-button-next:hover::after {
    color: #fff !important;
  }
  .zoomProductSliderThumbs .swiper-slide {
    height: auto !important;
  }

  .zoomProductSliderThumbs .swiper-wrapper {
    padding-top: 38px !important;
  }

  .zoomProductSliderThumbs .swiper-button-next {
    bottom: 0px !important;
    right: inherit !important;
    top: inherit !important;
    width: 100% !important;
    height: 30px !important;
    border-radius: 0px !important;
  }

  .zoomProductSliderThumbs .swiper-button-next:after {
    transform: rotate(90deg);
  }

  .zoomProductSliderThumbs .swiper-button-prev {
    top: 20px !important;
    left: 0px !important;
    width: 100% !important;
    height: 30px !important;
    border-radius: 0px !important;
  }

  .zoomProductSliderThumbs .swiper-button-prev:after {
    transform: rotate(90deg);
  }
  /* End ProductZoom */

  /* ------------------------------------------------------------- */

  /* ProductDetails */
  .productContent .actions button {
    min-width: 40px !important;
    height: 30px !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: rgba(0, 0, 0, 0.7) !important;
  }

  .reviewScroll::-webkit-scrollbar {
    width: 5px !important;
  }
  .reviewScroll::-webkit-scrollbar-thumb {
    background: #ccc !important;
  }
}
