@import "tailwindcss";

@theme {
  --color-primary-main: #ff5252;
  --color-dark: #000000;
  --color-dark-100: #4b465c;
  --color-dark-200: #f8f7fa;
  --color-dark-200: #dbdade;
  --color-dark-400: #909090;
  --font-size-10: 10px;
}

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: #f5f0f0;
    color: rgba(0, 0, 0, 0.9);
  }
}

@layer components {
  .custom-container {
    width: 90%;
    margin: auto;
  }

  /* header .top-strip {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  } */

  .link:hover {
    color: var(--color-primary-main);
  }

  .MuiBadge-badge {
    background-color: var(--color-primary-main) !important;
  }

  nav ul button {
    text-transform: capitalize !important;
  }

  nav ul button:hover {
    background: none !important;
  }
}
